:root {
    --background-color: #3D3C42;
    --primary-color: #7D9D9C;
    --secondary-color: #874356;
    --dark-grey: #556182;
    --box-background: #556182;
    --font-weight: 700;
    --light-font: #E4DCCF;
    --dark-font: #151a19;
    --reg-font-size: 16px;
    --bigger-text: 20px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: var(--reg-font-size);
    line-height: 1.6;
    color: var(--light-font);
}

h2 {
    font-size: 24px;
    font-weight: var(--font-weight);
}

h3 {
    font-size: 20px;
    font-weight: var(--font-weight);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-left: 20px;
}

#page-heading {
    text-align: center;
    margin: 30px;
    background-color: #A27B5C;
    box-shadow: 4px 2px 5px 0px rgba(51, 51, 51, 0.61)
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100vw;*/
    padding-right: 10px;
    box-shadow: 0 2px 4px 0px rgba(51, 51, 51, 0.61);
    background-color: #F0EBE3;
}


/* Allow items  to not grow but shrink */

.page-header__item {
    flex: 0 1 100px;
}


/* Only navigation bar should grow*/

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}


/* target the nav list and the items by "li"*/

.navigation-list li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 5px;
    font-size: var(--bigger-text);
    font-weight: var(--font-weight);
}

.navigation-list__item {
    position: relative;
}


/* Javascript adds class to items when selected */

.current {
    border-bottom: 2px solid var(--primary-color);
}


/*hover effect menubar */

.navigation-list li a::before,
.navigation-list li a::after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--dark-grey);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navigation-list li a::before {
    top: 0px;
    transform: translateY(-10px);
}

.navigation-list li a::after {
    bottom: 0px;
    transform: translateY(10px);
}

.navigation-list li a:hover::before,
.navigation-list li a:hover::after {
    opacity: 1;
    transform: translateY(0px);
}

a {
    color: var(--primary-color);
    padding: 3px;
}

a:visited {
    color: var(--primary-color);
    opacity: 0.5;
}

a:hover,
a:focus {
    /* No underline when hovering */
    text-decoration: none;
}

a:active {
    color: #0d4744;
}


/* Global button styling */

.button {
    box-shadow: 1px 1px 3px 1px #91b8b3;
    background-color: #151a19;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.button:hover {
    background-color: #384040;
}

.button:active {
    position: relative;
    top: 3px;
    left: 3px;
}

.profile {
    max-width: 700px;
    margin: 150px auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    box-shadow: 4px 2px 5px 0px rgba(51, 51, 51, 0.61);
}

.introduction-text {
    padding-top: 0px;
}

.special-font {
    background-color: var(--primary-color);
    font-family: 'Menlo', sans-serif;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-footer a {
    text-decoration: none;
}

.social-media-icon {
    height: 25px;
    width: 25px;
}


/**
*Styling for about page
---------------------------------------------------------
*/

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--light-font);
}

.about-personal,
.about-professional {
    display: flex;
    /* margin-top: 150px; */
    justify-content: space-evenly;
    padding: 10px;
}

.self-intro,
.professional-intro {
    text-align: left;
    font-size: 1.2rem;
    margin-left: 10px;
    width: 50%;
}


/* both pictures of about page*/

.about-picture__portrait,
.about-picture__professional {
    object-fit: contain;
    max-width: 600px;
}

.about-personal-skills,
.about-professional-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-professional-skills h2,
.about-personal-skills h2 {
    font-size: 1.2rem;
    text-align: left;
    width: auto;
    padding: 2px 5px;
    border-bottom: 1px solid var(--primary-color);
}

.about-skills-item {
    display: inline-block;
    margin: 20px 20px 20px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px -1px var(--primary-color);
    min-width: 250px;
    height: 350px;
}

.about-skills-item h3 {
    padding: 2px 5px;
    margin: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.download-section {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
    text-align: center;
}


/* Flag on download button */

.button-wrapper {
    display: flex;
    justify-content: center;
}

.download-button {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
}

.download-button>img {
    padding-right: 5px;
}


/**
*Styling for portfolio page
---------------------------------------------------------
*/

.project-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-card {
    margin: 100px 0 2rem 0;
    display: flex;
    align-items: center;
    width: 80%;
}

.left-box,
.right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    width: 50%;
    padding: 5px;
    margin-right: 3px;
    align-items: center;
    border-radius: 5px;
}


/* Only applying border to text boxes */

.text-box {
    box-shadow: 2px 2px 5px -1px var(--primary-color);
    min-height: 380px;
}

.project-title {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 5px 0 5px 5px;
    width: 100%;
}

.project-description {
    padding: 0 10px 0 10px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
}

.project-icon {
    height: 24px;
    width: 24px;
    margin: 5px;
}

.project-tech-wrapper {
    display: flex;
    height: 1rem;
    align-items: center;
}

.project-img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.double {
    height: 50%;
}

.other-project-container {
    display: flex;
}

.other-project-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 5px;
    margin-right: 7px;
    box-shadow: 2px 2px 5px -1px var(--primary-color);
    justify-content: space-between;
    border-radius: 5px;
}


/**
*Styling for contact page
---------------------------------------------------------
*/

.contact-page {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.contact-text {
    text-align: center;
}

.contact-input {
    width: 500px;
    padding: 15px;
    margin: 10px;
    text-align: left;
    color: var(--light-font);
    font-family: 'Lato', sans-serif;
    box-shadow: 2px 2px 5px -1px var(--primary-color);
}

.input-wrapper {
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

input {
    width: 100%;
    height: 1.5em;
}

textarea,
.submit-button {
    width: 100%;
    height: 3em;
}

@media all and (min-width: 350px) and (max-width: 750px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    body {
        font-size: 1rem;
    }
    .page-header {
        /* display: flex;
        flex-direction: column; */
        width: 100vw;
    }
    /*.navigation-list {
        display: flex;
    }
    .navigation-list__item {
        font-size: 20px;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 5px;
        margin: 0 5px 0 5px;
    } */
    .contact-input {
        width: 350px;
    }
    .about-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-professional,
    .about-personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .about-personal-skills,
    .about-professional-skills {
        flex-direction: column;
    }
    .about-picture__professional {
        visibility: hidden;
        position: absolute;
    }
    .self-intro,
    .professional-intro {
        width: 80%;
        margin: 10px;
    }
    /* Portfolio styling */
    .project-card {
        flex-direction: column;
        padding: 20px;
        width: 90%;
    }
    .left-box,
    .right-box {
        width: 100%;
        min-height: 380px;
    }
    .project-img {
        object-fit: fill;
    }
    .double {
        object-fit: cover;
    }
    /* Home page styling */
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile__portrait {
        margin: 0 20px;
        align-items: center;
    }
    .contact-page {
        flex-direction: column;
    }
}

@media all and (min-width: 750px) and (max-width: 1500px) {
    h1 {
        font-size: 30px;
    }
    .about-professional,
    .about-personal {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .about-picture__professional {
        position: absolute;
        visibility: hidden;
    }
    .self-intro,
    .professional-intro {
        width: 90%;
    }
    /* Portfolio page */
    .project-img {
        object-fit: fill;
    }
    .double {
        object-fit: cover;
    }
    .project-card {
        flex-direction: column;
        padding: 20px;
        width: 90%;
        margin: 20px;
    }
    .left-box,
    .right-box {
        width: 70%;
        min-height: 380px;
    }
}