:root {
    --primary-color: #316B83;
    --secondary-color: #874356;
    --dark-grey: #556182;
    --box-background: #CEE5D0;
    --font-weight: 700;
    --reg-font-size: 16px;
    --bigger-text: 24px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFF0;
    font-family: 'Lato', sans-serif;
    font-size: var(--reg-font-size);
    line-height: 1.6;
    color: var(--dark-grey);
}

h1 {
    font-size: 30px;
    font-weight: var(--font-weight);
    font-variant: small-caps;
}

h2 {
    font-size: 24px;
    font-weight: var(--font-weight);
}

h3 {
    font-size: 20px;
    font-weight: var(--font-weight);
}

ul {
    list-style-type: none;
    padding: 0;
}

#page-heading {
    text-align: center;
    margin: 30px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}


/* Allow items  to not grow but shrink */

.page-header__item {
    flex: 0 1 100px;
}


/* Only navigation bar should grow*/

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}


/* target the nav list and the items by "li"*/

.navigation-list li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 5px;
    font-size: var(--bigger-text);
    font-weight: var(--font-weight);
}

.navigation-list__item--active {
    text-decoration: none;
}

.navigation-list__item {
    position: relative;
}


/*hover effect menubar */

.navigation-list li a::before,
.navigation-list li a::after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--dark-grey);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navigation-list li a::before {
    top: 0px;
    transform: translateY(-10px);
}

.navigation-list li a::after {
    bottom: 0px;
    transform: translateY(10px);
}

.navigation-list li a:hover::before,
.navigation-list li a:hover::after {
    opacity: 1;
    transform: translateY(0px);
}

a {
    color: var(--primary-color);
    padding: 3px;
}

a:visited {
    color: var(--primary-color);
    opacity: 0.5;
}

a:hover,
a:focus {
    /* No underline when hovering */
    text-decoration: none;
}

a:active {
    color: #0d4744;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-size: var(--reg-font-size);
    padding: 0.6rem;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.profile {
    max-width: 700px;
    margin: 100px auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.introduction-text {
    padding-top: 5px;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-footer a {
    text-decoration: none;
}

.about-section {
    display: flex;
    justify-content: space-around;
    color: var(--dark-grey);
    margin: 10px;
    font-size: 18px;
}

.about-professional-skills h2,
.about-personal-skills h2 {
    display: block;
    text-align: center;
    width: auto;
    margin-left: 10px;
}

.about-skills-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background-color: var(--box-background);
    width: 320px;
    height: 220px;
}

.about-skills-item th {
    padding: 2px 5px;
    margin: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.download-section {
    text-align: center;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 30px 30px;
}

.grid__item {
    padding: 20px;
    background-color: lightgray;
}

.button,
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.3s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-information,
.contact-input {
    width: 380px;
    padding: 15px 15px;
    margin: 50px;
}

.contact-input {
    border: solid 1px var(--secondary-color);
}

.contact-information img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.contact-information a {
    padding: 5px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 1.5em;
}

textarea,
.submit-button {
    width: 100%;
    height: 3em;
}

@media all and (min-width: 350px) and (max-width: 500px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
    h2 {
        font-size: 20px;
    }
    .page-header {
        display: flex;
        flex-direction: column;
    }
    .navigation-list {
        display: flex;
    }
    .navigation-list__item {
        font-size: 20px;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: auto;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .profile__portrait {
        margin: 0 20px;
        justify-content: center;
    }
    .contact-page {
        flex-direction: column;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-page {
        flex-direction: column;
    }
}

@media all and (min-width: 750px) and (max-width: 1350px) {
    .project-grid {
        grid-gap: 10px;
    }
    h1 {
        font-size: 30px;
    }
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media all and (min-width: 1350px) {
    .about-section {
        flex-direction: row;
    }
}