/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/


/*
Used colors:
Background: ivory #FFFFF0
Primary color: green #16837D
Secondary(complementary): Red #83161C
Neutral text: grey #5C6D7A

*/

:root {
    --primary-color: #316B83;
    --secondary-color: #83161C;
    --dark-grey: #6D8299;
    --box-background: #CEE5D0;
    --font-weight: 700;
    --reg-font-size: 16px;
    --bigger-text: 24px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #FFFFF0;
    font-family: 'Lato', sans-serif;
    font-size: var(--reg-font-size);
    line-height: 1.6;
    color: var(--dark-grey);
}

h1 {
    font-size: 30px;
    font-weight: var(--font-weight);
    font-variant: small-caps;
}

h2 {
    font-size: 24px;
    font-weight: var(--font-weight);
}

h3 {
    font-size: 20px;
    font-weight: var(--font-weight);
}

ul {
    list-style-type: none;
    padding: 0;
}

#page-heading {
    text-align: center;
    margin: 30px;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}


/* Allow items  to not grow but shrink */

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
}


/* Only navigation bar should grow*/

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}


/* target the nav list and the items by "li"*/

.navigation-list li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    padding: 10px 10px;
    font-size: var(--bigger-text);
    font-weight: var(--font-weight);
}

.navigation-list__item--active {
    text-decoration: none;
}

.navigation-list__item {
    position: relative;
}


/*hover effect menubar */

.navigation-list li a::before,
.navigation-list li a::after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--dark-grey);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-list li a::before {
    top: 0px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.navigation-list li a::after {
    bottom: 0px;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navigation-list li a:hover::before,
.navigation-list li a:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

a {
    color: var(--primary-color);
    padding: 3px;
}

a:visited {
    color: var(--primary-color);
    opacity: 0.5;
}

a:hover,
a:focus {
    /* No underline when hovering */
    text-decoration: none;
}

a:active {
    color: #0d4744;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-size: var(--reg-font-size);
    padding: 0.6rem;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.profile {
    max-width: 700px;
    margin: 100px auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.introduction-text {
    padding-top: 5px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}


/*NEED TO EDIT below*/

.about-section {
    color: var(--dark-grey);
    margin: 20px;
    font-size: 18px;
}

.about-skills-item h3 {
    text-align: justify;
}

.about-skills__professional,
.about-skills__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background-color: var(--box-background);
}

.about-skills-item {
    height: 15rem;
}

.about-skills-item th {
    padding: 2px 5px;
    margin: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.about-skills-heading {
    margin-left: 20px;
    padding-left: 3px;
    color: var(--secondary-color);
}

.download-section {
    text-align: center;
    margin-bottom: 20px;
}

.project-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 30px 30px;
}

.grid__item {
    padding: 20px;
    background-color: lightgray;
}


/*About Page*/

.button,
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

@media all and (min-width: 350px) and (max-width: 500px) {
    .project-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    h2 {
        font-size: 20px;
    }
    .page-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .navigation-list__item {
        font-size: 20px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 5px;
        margin: 5px;
    }
    .about-skills__professional,
    .about-skills__personal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }
    .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        text-align: center;
    }
    .profile__portrait {
        margin: 0 20px;
        text-align: justify;
    }
    .contact-page {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-grid {
        -ms-grid-columns: 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 750px) {
    .project-grid {
        grid-gap: 10px;
    }
    h1 {
        font-size: 30px;
    }
}

@supports (display: grid) {
    .project-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@supports not (display: grid) {
    .project-grid {
        display: block;
    }
}

.contact-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 750px;
    min-width: 80%;
    padding: 10px;
    margin: 20px 10px;
}

.contact-input {
    padding: 10px;
    border: solid 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 350px;
    margin-top: 40px;
}

.contact-input input,
textarea,
button {
    max-width: 650px;
    min-width: 100%;
    margin-bottom: 10px;
}

.contact-information img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.contact-information a {
    padding: 5px;
    margin-bottom: 5px;
}